/*
    color: #092727;     #darkgreen###
    background-color: #ff69b4; ### PINK ###
*/



/*General Designs*/


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.content-wrap
{
    width: 900px;
    margin: 0 auto;
    padding: 60px;
    
}

h2 {
    font-family: 'Caveat', cursive;
    margin: 0;
    font-size: 50px;
}

h1 {
    font-size: 70px;
    margin: 0;
    font-family: 'Caveat', cursive;
}

h3 {
    font-family: 'Caveat', cursive;
    margin: 0;
    font-size: 40px;
}

/*Introduction*/
header {
    text-align: center;
    justify-items: center;
    
}

.intro {
    background-color: #ffffff;
    color: #092727;
    overflow: hidden;
    
}




/*WORK EXPERIENCE*/


.work {
    background-color: #8a817c;
    color: #f2f2f2;
    
  
}


.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    border-bottom: 2px black dotted;
    padding: 15px;
}








/*Educational Background*/
.education {
    background-color: #ffffff;
    color: #092727;
    
}




/*Contact*/
.contact {
    background-color: #8a817c;
    color: #f2f2f2;
    list-style-type: none;
}

.con-list {
    list-style-type: none; 
    display: flex; 
    justify-content: space-between;
}

.con-list a {
    padding: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.contact .content-wrap h2
{
text-align: center;
    justify-items: center;
}